html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    background-image: url('../assets/images/nice_snow.png');
    background-repeat: repeat;
}

.font-esthetic {
    font-family: 'Montserrat', sans-serif !important;
    color: #000 ;
    z-index: 99;
    position: relative;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
    color: #000000 !important;
}

.img-crop {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-crop>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh;
    right: 2vh;
    z-index: 1055;
}

.loading-page {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2001;
    top: 0;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-color: #111111; */
    background-image: url('../assets/images/overlay.JPG');
    background-size: cover;
    z-index: 1056 !important;
}

.card-body {
    overflow-wrap: break-word !important;
}

.mouse-animation {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border: 0.1rem solid #ffffff;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
    border-color: #000;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #000000;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.dark-section {
    background-color: #EEEDED !important;
    /* background-image: url('../assets//images//'); */
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
}

footer {
    background-color: #EEEDED !important;
    margin-top: -0.4rem;
    padding-bottom: 4rem;
}

/* Dekstop */
@media (min-width: 768px) {
    .flower-1-right {
      height: 50%;
    }
    .flower-1-left {
        height: 40%;
      }
    .flower-2-left{
      height: 60%;
      left: -30px;
    }
    .flower-2-right{
      height: 60%;
      right: -30px;
    }
  }



/* Mobile */
  @media (max-width:768px) {
    .flower-1-right {
      height: 20%;
    }
    .flower-1-left {
        height: 20%;
      }
    .flower-2-left{
      left: -20px;
      height: 200px;
      bottom: 0;
      top: 250%;
    }
    .flower-2-right{
      right: 0;
      height: 30%;
    }
    .flower-3-top{
      width: 100%;
    }
    .flower-4-bottom{
      width: 100%;
    }
    .flower-bukutamu-right{
      height: 25%;
    }
    .flower-bukutamu-left{
      height: 20%;
    }
  }

p, h5, h2 {
  color: #000;
}